* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.v93_30 {
  width: 390px;
  background: url("../images/v93_30.png");
  opacity: 1;
  position: absolute;
  top: 146px;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid rgba(217,217,217,1);
}
.v93_42 {
  width: 250px;
  height: auto;
  background: url("../images/v93_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 243px;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.post-card {
  /* 각 게시글 카드에 적용할 스타일 작성 */
  width: 250px;
  height: 50px;
  background: url("../images/v93_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
  margin-bottom: 0; /* 각 카드 사이의 간격 조정 */
}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav ul li {
  display: inline;
  margin-right: 20px;
}
h1 {
  font-size: 9px;
}