.navbar .nav-link img {
    width: 25px;
    height: 25px;
  }
  .navbar .nav-link span {
    font-size: 10px;
  }
  
  
  .nav-link.square {
    width: 84px;
    height: 32px;
    color: black;
    background: rgba(217,217,217,1);
    opacity: 1;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30%;
    margin-right: 5px; 
    text-decoration: none; /* 밑줄 제거 */
  }